.fondAcc{
    background-image: url("images/r34\ night\ light.jpg");
    background-repeat: no-repeat;
    width: auto;
}

.fondMod{
    background-image: url(https://images.hdqwalls.com/wallpapers/neonnight-toyota-supra-4k-y4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
   overflow:hidden;
}

.barreNoire{
background-color: black;
color: blueviolet;
margin-top: 0px;
text-align: center;
padding-right: 90%;
/*padding-left: 25%;*/
}

a {
    display: block;
}

ul {
    list-style: none;
}

a {
    display: block;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left:0px;

}

li {
    float: left;
    background-color:rgb(0, 0, 0);
width:150px;

}

ul {
    padding-top: 0px;
    margin-top: 0px;
    list-style: none;
}

a {
    display: block;
    width: 150px;
    color: rgba(102, 79, 79, 0.685);
    background-color: rgba(0, 0, 0, 0.336);
    text-decoration: none;
}

li:hover {
    color: white;
    background-color: black;
}
a:hover {
    color: rgb(162, 0, 255);
    background-color: rgba(0, 0, 0, 0.295);
}


div {
display:none;
/*background-color:#ccc;*/
}
li:hover div {
display:block;
} 


@media (min-width: 600px){

}

@media (max-width: 600px){

}